<div id="rfb-home-intro" class="row">
    <div class="col-md-4">
        <p class="events-header">Running for Brews 5k Events</p>
        <img src="../../content/images/kevincover.jpg" width="555" height="226">
    </div>
    <div class="col-md-8">
        <h1 class="display-4">We Love 5k Running & Craft Beer</h1>
        <p>BLABLABLABLABLABLABLABLABLABALBALBALBALBALBALBALBALBAL ksajhdaskjdhas kjahsdkjashdjsa kjhasdsa</p>
        <p>BLABLABLABLABLABLABLABLABLABALBALBALBALBALBALBALBALBAL ksajhdaskjdhas kjahsdkjashdjsa kjhasdsa</p>
        <p>BLABLABLABLABLABLABLABLABLABALBALBALBALBALBALBALBALBAL ksajhdaskjdhas kjahsdkjashdjsa kjhasdsa</p>
    </div>
</div>
